.section{
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.left{
    width: 45%;
    min-width: 600px;
    max-width: 95%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right{
    width: 45%;
    min-width: 600px;
    max-width: 95%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: sansBold;
    src: url(../../fonts/sansBold.ttf);
}

@font-face {
    font-family: sansRegular;
    src: url(../../fonts/sansRegular.ttf);
}

.title{
    font-size: 45px;
    font-family: sansBold;
    color: black;
    text-transform: uppercase;
}

.text{
    width: 80%;
    text-align: center;
    font-family: sansRegular;
    color: #ABABAB;
    font-size: 18px;
}

.btn{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.sec3Nkar{
    max-width: 95%;
    width: 450px;
    height: 420px;
}

@media screen and (max-width: 1240px){
    .left,.right{
        height: 40vh;
    }
}

@media screen and (max-width: 600px){
    .left,.right{
        width: 95%;
        min-width: 95%;
        height: 40vh;
    }

    .title{
        font-size: 30px;
        text-align: center;
    }

    .text{
        width: 90%;
    }

    .section{
        gap: 50px;
    }
}