.section{
    width: 100%;
    height: 20vh;
    background-color: #EFEFEF;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0px 20px;
}

@font-face {
    font-family: sansBold;
    src: url(../../fonts/sansBold.ttf);
}

@font-face {
    font-family: sansRegular;
    src: url(../../fonts/sansRegular.ttf);
}

.text{
    font-size: 30px;
    color: black;
    font-family: sansRegular;
    text-align: center;
}

.special{
    font-family: sansBold;
}

.btn{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    color: black;
    font-family: sansRegular;
    background: none;
    font-size: 18px;
}

@media screen and (max-width: 600px){
    .section{
        display: flex;
        flex-direction: column;
    }

    .text{
        font-size: 19px;
    }
}